.header {
  background-image: url("../img/cover.jpg");
  background-position: 50% 2%;
  background-size: cover;
}

.header-cover {
  display: flex;
  position: relative;

  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: rgba($color: #333333, $alpha: 0.6);

}

.header-content {
  z-index: 100;
  text-align: center;
  width: 70%;
  margin: 0 auto;


}

.header-content__title {
  letter-spacing: 1px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
}

.header-content__span {
  font-size: 50px;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  font-weight: 700;
}
.header-scroll{
  cursor: pointer;
  animation: arr 2s ;
  animation-iteration-count: infinite;
}

.header-down {
  position: absolute;
  width: 50px;
  padding: 15px;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;


}



@keyframes arr {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}